@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: Open Sans;
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url('../img/Background.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    padding: 20px;
}

.titulo h1 {
    font-family: Luckiest Guy;
    width: 200px;
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
    padding: 40px 0;
}

.titulo p {
    display: flex;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    text-align: inherit;
    margin-bottom: 20px;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

#button-1 {
    width: auto;
    padding: 10px;
    background-color: #fff;
    color: black;
    font-weight: 400;
    border: solid #fff;
    border-radius: 28px;
}

#button-2 {
    width: auto;
    padding: 10px;
    color: #fff;
    background-color: #23272A;
    font-weight: 400;
    border: solid #23272A;
    border-radius: 28px;
}

main {
    display: flex;
    flex-direction: column;
}

.section-1,
.section-2,
.section-3,
.section-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section-1 img {
    width: 379px;
    height: 252px;
    margin-top: 40px;
}

.section-1 h2 {
    font-size: 1.25rem;
    font-weight: 800;
    color: #23272A;
    padding: 0 25px 15px 25px;
}

.section-1 p {
    padding: 0 20px;
    font-weight: 400;
    padding-bottom: 40px;
}

.section-2,
.section-4 {
    background-color: #F6F6F6;
}

.section-2 img {
    width: 379px;
    height: 252px;
    margin-top: 40px;
}

.section-2 h2 {
    font-size: 1.25rem;
    font-weight: 800;
    padding: 25px;
    color: #23272A;
}

.section-2 p {
    padding: 0 20px;
    font-weight: 400;
    padding-bottom: 40px;
}

.section-3 img {
    width: 379px;
    height: 252px;
    margin-top: 40px;
}

.section-3 h2 {
    font-size: 1.25rem;
    font-weight: 800;
    padding: 25px;
    color: #23272A;
}

.section-3 p {
    padding: 0 20px;
    font-weight: 400;
    padding-bottom: 40px;
}

.section-4 img {
    width: 379px;
    height: 252px;
    margin-top: 20px;
}

.section-4 h2 {
    font-size: 1.25rem;
    font-family: Luckiest Guy;
    color: #23272A;
    padding: 25px;
}

.section-4 p {
    padding: 0 20px;
    font-weight: 400;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #23272A;
}

footer img {
    width: 200px;
    height: 40px;
}

@media screen and (min-width:750px) {
    header {
        background-image: url('../img/Background.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .titulo h1 {
        width: auto;
        margin: auto;
        text-align: center;
        font-size: 3.5rem;
    }

    .titulo p {
        width: 750px;
        margin: auto;
        text-align: center;
    }

    .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 60px;
    }

    #button-1, #button-2 {
        width: 300px;
    }

    .section-1,
    .section-2,
    .section-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 10px;
    }

    .section-1 img,
    .section-2 img,
    .section-3 img,
    .section-4 img {
        box-sizing: border-box;
        margin: 0;
        width: auto;
        height: auto;
    }

    .section-1 h2 {
        padding: 10px;
        font-size: 2.5rem;
        max-width: 350px;
    }
    
    .section-1 p {
        max-width: 400px;
        padding: 10px;
        font-size: 1rem;
    }

    .section-2 {
        display: flex;
        flex-direction: row-reverse;
    }

    .section-2 h2 {
        padding: 10px;
        font-size: 2.5rem;
        max-width: 400px;
    }

    .section-2 p {
        max-width: 400px;
        padding: 10px;
        font-size: 1rem;
    }

    .section-3 h2 {
        padding: 10px;
        font-size: 2.5rem;
        max-width: 400px;
    }

    .section-3 p {
        max-width: 400px;
        padding: 10px;
        font-size: 1rem;
    }

    .section-4 {
        display: flex;
        align-items: center;
    }

    .section-4 h2 {
        font-size: 2.5rem;
        width: 600px;
        text-align: center;
    }

    .section-4 p {
        max-width: 850px;
        padding: 10px;
        text-align: center;
    }   
}